################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyWebApplication/MyWebApplication/obj/Debug/TempPE/Service References.ServiceReference1.Reference.cs.dll
*.cache
